#container {
	height: 100%;
	overflow: hidden;
}

#map-canvas {
	position: relative;
	height:100%;
	opacity: 0;
	transition: opacity .5s ease;
}

#browser {
	width:40%;
	height:100%;
	float: right;
	background-color: #ecf0f1;
	overflow: auto;
	position: relative;
	z-index: 10;
	box-shadow: -1px -1px 5px rgba(52, 73, 94,0.5);
	
	transition: opacity .5s ease;

	/*right: -40%;*/
	opacity: 0;
}

#items-table {
	padding-bottom: 90px;
}

#search-header {
	text-align: center;
	color: #34495e;
	margin-top: 10px;
	margin-bottom: 0px;
}

#search-term {
	width: 420px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
}