#sign-up {
	width: 200px;
}

#search-term-input {
	width: 180px;
	font-size: 11pt;
	background:transparent;
	border:none;
	padding: 0;
	font-family: Lato;
	font-size: 20pt;
	color: #DAE1E6;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom:thin solid #ecf0f1;
}
#start-shopping {
	width: 200px;

}

#get-started {
	text-align: center;
}

#container-div {
	position: relative;
	opacity: 0;
	transition: opacity 0.5s, margin-top 0.5s;
	-webkit-transition: opacity 0.5s, margin-top 0.5s; /* Safari */
}

#welcome-message {
	text-align: center;
	margin-top:17%;
}

#welcome-message a {
	color: #F0DE97;
	text-decoration: none;
}

h2 {
	margin-top: -20px;
}