#items-title {
	text-align: center;
	color: #333333;
}

.item-table-summary {
	padding: 5px;
	width: 200px;
	height: 215px;
	background-color: #FAFAFA;
	border-radius: 2px;
	position: relative;
	transition: background-color 0.2s ease;
}

.item-table-summary:hover {
	background-color: #bdc3c7;
}

.item-table-summary a {
	text-decoration: none;
}

.item-table-summary img {
	width: 200px;
	height:200px;
}

.item-name {
	font-family: Lato-Bold;
	color: white;
	background-color: rgba(44, 62, 80,0.5);
	position: absolute;
	padding-left: 5px;
	padding-right: 5px;
	bottom: 6px;
	width: 190px;
	height:40px;
}
.item-price {
	font-size: 10pt;
	margin-top: 100px;
	padding-left: 5px;
	padding-right: 5px;
	display: inline;
	text-decoration: none;
}

.item-rating {
	font-size: 10pt;
	margin-top: 0px;
	padding-left: 5px;
	padding-right: 5px;
	display: inline;
	text-decoration: none;
	float: right;
}