#item-overlay-container {
   transition: background-color .3s ease;
   transition: opacity .3s ease;
   -webkit-transition: background-color .3s ease;
   -webkit-transition: opacity .3s ease;

   position: absolute; top: 0; left: 0;
   width: 100%; height: 100%;
   z-index: 10;
}

#item-info-container {
	margin-top: 8%;
	margin-right: auto;
	margin-left: auto;
	
	width: 50%;
	height:70%;
	opacity: 0;
	background-color: #ecf0f1;
	transition:opacity .3s ease;
	-webkit-transition:opacity .3s ease;
}

#item-nav-bar {
	background-color: #16a085;
	width: 100%;
	height:54px;
	margin:0;
	padding:0;
	top:0;
	left: 0;
	clear: both;
}

#dismiss-button {
	margin-top: -10px;
	left: 10px;
	float: left;
	position: relative;
	text-decoration: none;
	color: white;
	font-family: Lato-Black;
	font-size: 14pt;
}

#item-map-canvas {
	height:50%;
	width: 100%;
	left: 0;
}

#metadata-container {
	top: 50%;
	margin-top: -10px;
	height: 50%;
	background-color: #ecf0f1;
	z-index: 10;
	box-shadow: -1px -1px 5px rgba(52, 73, 94,0.5);
}

#item-detail-image {
	background-color: #e74c3c;
	width: 150px;
	height: 150px;
	margin-left: 20px;
	margin-top: -90px;
	position: relative;
	border-radius: 100%;
	box-shadow: 1px -1px 3px rgba(52, 73, 94,0.7);

	border-style:solid;
	border-color: white;
	border-width:5px;
}

#item-detail-name {
	font-size: 14pt;
	overflow: none;
	height: fixed;
	display: inline;
	color: black;
	position: relative;
	top: -30px;
	margin-left: 15px;
	color: #34495e;
}

#item-detail-price {
	display: inline;
	color: black;
	position: relative;
	color: #34495e;
	background-color: blue;
}

#button-container {
	float: left;
	width: 150px;
	margin-left: 20px;
	margin-top: 10px;
	display: inline;
}

#buy-item {
	display: block;
	text-align: center;
	width: 120px;
}

#view-user-profile {
	display: block;
	background-color: #3498db;
	margin-top: 5px;
	width: 120px;
}

#view-user-profile:hover {
	background-color: #2980b9;
}

#delete-item-button {
	display: block;
	margin-top: 5px;
	width: 120px;
}

#item-ownership-notification {
	text-align:center; 
	font-size:10pt;
	color: #7f8c8d;
	margin-top: 5px;
}

#item-detail-description {
	margin-left: 27%;
	margin-top: 5px;
	width: 70%;
}

#deleted-item-container {
	margin-top: 20%;
	width: 100%;
}

#deleted-item-title {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #34495e;
}

#delete-dismiss-button {
	position: absolute;
	left: 40%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
