#items-title {
	text-align: center;
	color: #333333;
}

.item-table-summary {
	padding: 5px;
	width: 200px;
	height: 215px;
	background-color: #FAFAFA;
	border-radius: 2px;
	position: relative;
	transition: background-color 0.2s ease;
	-webkit-transition: background-color 0.2s ease;
}

.item-table-summary:hover {
	background-color: #bdc3c7;
}

.item-table-summary a {
	text-decoration: none;
}

.item-image {
	width: 200px;
	height:200px;
}

.item-name {
	font-family: Lato-Bold;
	color: white;
	background-color: rgba(44, 62, 80,0.5);
	position: absolute;
	padding-left: 5px;
	padding-right: 5px;
	bottom: 6px;
	width: 190px;
	height:40px;
}
.item-price {
	font-size: 10pt;
	padding-left: 5px;
	padding-right: 5px;
	display: inline;
	text-decoration: none;
}

.item-rating {
	font-size: 10pt;
	margin-top: 1px;
	padding-left: 5px;
	padding-right: 5px;
	display: inline;
	text-decoration: none;
	float: right;
}

.item-rating-image {
	width: 13px;
	height: 13px;
	margin-top: 2px;
	display: inline;
	float: right;
	background-image: url("../img/thumbs_up.png");
	background-size: 13px 13px;
	background-repeat: no-repeat;
}