#log-in-container-div {
	opacity: 0;
	margin-top: 10px;
}

#login-up {
	width: 200px;
}

#go-home {
	width: 200px;
}

#login-message {
	text-align: center;
	margin-top:10%;
}

#login-div {
	text-align: center;
}

#login-message a {
	color: #F0DE97;
	text-decoration: none;
}

#forgotten-login a {
	color: #ecf0f1;
	text-decoration: none;
}