#overlay-container {
   position: absolute; top: 0; left: 0;
   width: 100%; height: 100%;
   z-index: 10;
   transition: background-color .3s ease, opacity .3s ease;
   -webkit-transition: background-color .3s ease, opacity .3s ease;
}

#content-container {
	margin-top: 8%;
	margin-right: auto;
	margin-left: auto;
	position: relative;

	width: 50%;
	height:70%;
	opacity: 0;
	background-color: #ecf0f1;
	overflow: scroll;
}

#overlay-nav-bar {
	background-color: #16a085;
	width: 100%;
	height:54px;
	margin:0;
	padding:0;
	top:0;
	left: 0;
	clear: both;
}

#dismiss-button {
	top: 8px;
	left: 10px;
	float: left;
	position: relative;
	text-decoration: none;
	color: white;
	font-family: Lato-Black;
	font-size: 12pt;
}