#purchases-items-table {
	height:100%;
}

.purchases-table-item {
	padding:10px;
	overflow: hidden;
}

.purchases-table-item img {
}

.item-table-image {
	width: 30%;
}

.item-table-image img {
	border-radius: 100%;
	width: 130px;
	height: 130px;
	border-style:solid;
	border-color: #D3D9DE;
	border-width:5px;
}

.item-table-name {
	width: 30%;
}

.item-table-price {
	width:10%;
}

.purchase-item-table-upvote {
	padding: 0;
	width: 30px;
}
.purchase-item-table-downvote {
	padding: 0;
	width: 30px;
}
.purchase-item-rate-img {
	width: 30px;
	height:30px;
	border-radius:0;
	border-style: none;
}

#purchases-table-container {
	overflow: auto;
	height: 90%;
}

#no-purchases-items-container {
	margin-top: 20%;
	width: 100%;
}

#no-purchases-items-title {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #34495e;
}

#no-purchases-items-paragraph {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #7f8c8d;
}

#purchases-go-shopping-button {
	position: absolute;
	left: 40%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}